body{
  margin: 0px;
  background-color: #f0f0f0;
}

#navbar-container{
  display: flex;
  align-items: center;
  height: 100vh
}

#navbar-left{
  flex-basis: 75%;
  border-right: 0.5rem;
}

#navbar-right{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 25rem;
  margin-left: 3rem;
}

#navpage-photo{
  height: 60%;
  width: 60%;
  margin-left: 8rem;

}

/* .photo-transition{
  height: 10rem;
} */

#home-container{
  display: flex
}

#home-main{
  position: relative;
  width: 88%;
}


#home-side-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background-color: #e8e8eb; */
  /* background-color:#e1dedf; */
  position: fixed;
  top: 0%;
  left: 87%;
  width: 10rem;
}

#menu-icon{
  margin-top: 3rem;
}

#section-icon{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-top: 3rem;
  justify-content: space-between;
}

.selected{
  color: salmon;
}

.intro-container{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.center{
  margin-top: 30%;
  margin-left: 10%;
  font-family: 'Antic Didone', serif;
}

.center > h1{
  font-size: 34px;
  font-weight: 100;
  letter-spacing: 20px;
}
.center-title{
  margin-left: 20%;
}
.center-title > h2{
  font-family: 'Antic Didone', serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 1rem;
}

#location{
  padding-left: 1.3rem;
}

.Arrow{
  margin-left: 40%;
}
/* .bottom-center{
  margin-top: 15%;
  margin-left: 40%;
  position: relative;
  left: 0;
  top: 20%;
  width: 60%;
} */

.faChevron{
  font-size: 34px;
  font-weight: 100;
  color: darkgrey;
}

#home-about-content > p {
  font-family: 'Antic Didone', serif;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  color: #2f4550
}

#home-about-content{
  margin-top: 20%;
}
.darker{
  color: #14213d;
  font-weight: 200;
}

.home-about-container {
  display: flex;
  flex-direction: column;
}

#home-about-button > button{
  width: 8rem;
  height: 3rem;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: #f0f0f0;
  border: 1px solid #2f4550;
  color: #2f4550;
  font-family: 'Antic Didone', serif;
  font-size: 18px;
  font-weight: 200;
  margin-top: 5rem;
  margin-left: 70%;
}

Button > button:hover, #home-about-button > button:hover{
  color: salmon;
  border: 1px solid salmon;
}

.intro-container, .home-about-container{
  height: 100vh;
  margin-left: 8rem;
}


.home-projects-container{
  width: 88%;
}


.Button > button{
  width: 8rem;
  height: 3rem;
  letter-spacing: 2px;
  font-family: 'Antic Didone', serif;
  margin-bottom: 5rem;
  font-size: 24px;
  font-weight: 200;
  margin-top: 1rem;
  position: absolute;
  z-index: 4;
  background-color: white;
  border: 1px solid #2f4550;
  color: #2f4550;
}

#BiggerButton > button{
  width: 12rem;
  position: absolute;
  z-index: 8
}

.Photo > img{
  width: 100%;
}

/* .background{
  position: absolute;
  z-index: 0;
} */
.Project > img{
  width: 984px;
}
.project-transition{
  position:absolute;
  z-index: 0;
}

#project-social{
  margin-left: 18rem;
}

#project-social > a {
  color: black;
  margin-left: 1rem;
}

.center{
  padding-left: 3rem;
  padding-right: 3rem;
}

/* .home-photo-container{
  margin-left: 8rem; */
}
/*
.home-photo-container > h3 {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  margin-left: 1rem;
  font-weight: 900;
} */


.home-photo-container > p{
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.home-contact-container{
  position: absolute;
  z-index: 4;
  height: 5rem;
  width: 100%;
  background-color: black;
}

#social{
  margin-left: 40%;
  margin-top: 2rem;
  font-size: 20px;
  width: 10rem;
  color: white;
  display: flex;
  justify-content: space-around;
}
#social > .icon:hover{
  color:lightblue;
}

#single-project{
  background-color: #f5f5f5;
  width: 400px;
  height: 300px;
  margin-left: 5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 1px 1px #e8e8eb;
}
#single-project-top{
  display: flex;
  padding-top: 1rem;
}

#folder-logo{
  flex-basis: 70%;
  padding-left: 1rem;
}
#social-media-logo{
  flex-basis: 20%;
  padding-left: 4rem;
}

#projects-container{
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  width: 88%;
}

#projects-outer-container{
  display:flex
}


#single-project-content{
  padding-left: 1rem;
  font-family: 'Manrope', sans-serif;
}

#project-detail-container{
  display: flex;
  flex-direction: column;
  width: 87%;
  border: 2px solid grey;
}

#project-detail-outer-container{
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#project-detail-intro{
  display: flex;
  font-weight: 300;
  font-size: 22px;
  background-color:#e8e8eb;
}

#project-detail-intro > h2 {
  padding-left: 5rem;
  letter-spacing: 4px;
}

#project-detail-intro-left{
  flex-basis: 70%;
}
#project-detail-intro-right{
  flex-basis: 30%;
}

#project-detail-overview{
  height: 100vh;
  display: flex;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

#project-detail-overview > h6 {
  flex-basis: 40%;
  padding-right: 2rem;
  font-size: 18px;
  margin-top: 1rem;
  height: 150px;
  position: absolute;
  z-index: 3;
  width: 400px;
}


.Overview > img, .Tech > img{
  width: 80%;
  height: 75%;
  margin-left: 5rem;
  margin-top: 20rem;
  box-shadow: 0 0 2px 2px #e8e8eb;
}

.Tech > img{
  /* margin-left: 5rem; */
  margin-top: 25rem;
  width: 700px;
  height: 370px;
  border: 2px solid blue;
  margin-left: 0;
}

#project-detail-tech{
  display: flex;
  height: 100vh;
}

.Stack > div {
  display: flex;
  justify-content: space-between;
}

.stack-elt{
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 1rem;
  width: 120px;
}

#project-detail-container > h3{
  font-size: 22px;
  letter-spacing: 2px;
  margin-left: 5rem;
  margin-bottom: 0;
  width: 100px;
  margin-top: 3rem;
}

#about-outer-container{
  display: flex
}
#about-container{
  width: 88%;
}

#about-intro{
  position: relative;
  /* text-align: center; */
}
#about-intro > img{
  width: 700px;
  margin-left: 6rem;
  margin-top: 4rem;
}

#about-intro > h3 {
  position: absolute;
  left: 7rem;
  font-size: 36px;
  font-family: 'Manrope', sans-serif;
}
#firstname{
  top: 0rem;
}

#lastname{
  top: 2.2rem;
}
#intro-box{
  position: absolute;
  bottom: -200px;
  right: 400px;
  width: 370px;
  color: white;
  padding: 30px;
  font-family: 'Manrope', sans-serif;
  background-color: black;
}

.bold{
  font-size: 32px;
  font-weight: 900;
}

#past-present, #skills{
  height: 100vh
}

#past-present{
  padding-top: 15rem;
  width: 700px;
  padding-left: 6rem;
  padding-right: 6rem;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
}

#skills{
  margin-top: 5rem;
  font-family: 'Manrope', sans-serif;
  color: white;
}

#skills > h3{
  font-size: 32px;
  padding-left: 5rem;
  padding-top: 10rem;
}

#skills-list{
  display: flex;
}

#ul-left{
  padding-left: 5rem;
  font-size: 24px;
}

#ul-right{
  padding-left: 15rem;
  font-size: 24px;
}
#ul-left > li, #ul-right > li{
  list-style-type: none;
}


#contact-outer-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 25%;
  width: 63%;
}
#contact-form{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin-top: 1rem;
  margin-right: 3rem;
}

#personal-info{
  display: flex;
}
.form-field{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-field > input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: darkgray;
  background-color: #f0f0f0;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  width: 232px;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.form-field > textarea{
  height: 300px;
  border-color: darkgrey;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  background-color: #f0f0f0;
}
.form-field > textarea:active{
  outline-color: darkgrey;
  outline-width: 1px;
}

#contact-parent{
  display: flex;
  height: 100vh;
}

#contact-prompt {
  padding: 0px;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
#contact-prompt > p{
  font-family: 'Manrope', sans-serif;
  font-size: 26px;
  margin-left: -16rem;
}

#contact-prompt > p:active{
  outline-color: darkgrey;
  outline-width: 1px;
}

.submit-button > button{
  width: 300px;
  margin-top: 1rem;
  border: hidden;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  color: darkgrey;
  background-color: #f0f0f0;

}

.submit-button > button:active {
  outline-color: darkgrey;
  outline-width: 1px;
  border: none;
}
#arrow{
  font-size: 24px;
}
#arrow:hover {
  margin-left: 6px;
}

.faCircle{
  font-size: 5px;
}
.faMenu{
  font-size: 18px;
}
